<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	 <oracle.manageddataaccess.client>
                <version number="*">
                  <settings>
                      <setting name="TraceLevel" value="7"/>
                      <setting name="TraceFileLocation" value="E:\Trace"/>        
                      <setting name="TraceOption" value="1"/>
                  </settings>
                </version>
            </oracle.manageddataaccess.client>
</configuration>